# Flutter/Dart/Pub ignores
.dart_tool/
.packages
build/
pubspec.lock

# Visual Studio Code
.vscode/

# IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Runner/GeneratedPluginRegistrant.*

# Firebase configs (placeholders to be added securely)
**/ios/Runner/GoogleService-Info.plist
**/android/app/google-services.json

